<!DOCTYPE html>
<html>
<head>
  <script src="http://www.google.com/jsapi"></script>
  <script src="../javascript/chartkick.js"></script>
</head>
<body>
  <h1> Input Coffee </h1>
  <h3> <%= @posts.count %> posts since <%= @posts.sort_by { |p| p.date }.first.date.strftime(NICE_DATE_FORMAT) %></h3>
  <%= yield %>
</body>
</html>